.box1{
    display: flex;
    flex-wrap: wrap;
}

.box2{
    display: flex;
    justify-content: space-between;
    margin-right: 6em;
}
p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #800080;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
}